.greeterCont {
    background: #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    grid-area: greeter;
    box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.75);
}

.weatherDisplay {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
}

.weatherDisplay span {
    display: flex;
    align-items: center;
}

.low {
    color: #00B4DB;
}

.mid {
    color: #F37335;
}

.high {
    color: #ED213A;
}
