.news {
  height: 500px;
  width: 400px;
  overflow: scroll;
}

.newsCard {
  display: flex;
  flex-direction: column;
}

.newsCardImage img {
  width: 100%;
  height: auto;
}

.App {
  text-align: center;
  display: grid;
  justify-content: center;
}

.block {
  width: 300px;
  height: 175px;
  background: #eeeeee;
  border-radius: 10px;
}

.DateTimeCont h1,
h2 {
  margin: 3px;
}

.DateTimeCont {
  display: grid;
  align-content: center;
}

.usefulLinksContainer {
  border: 2px green solid;
  background-color: aliceblue;
}

.usefulLinksContainerInner {
  display: flex;
  flex-wrap: wrap;
}

.usefulLink {
  width: 150px;
  height: 200px;
}

.usefulLink img {
  width: 100px;
  height: auto;
}

.chuckNorris img {
  animation: chuck 3s infinite;
}

@keyframes chuck {
  0% {
    transform: rotateZ(30deg);
  }
  25% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  75% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
.titleIndex {
  font-family: Helvetica, sans-serif;
  font-size: 38px;
}
