.App {
  text-align: center;
  display: grid;
  justify-content: center;
}

.block {
  width: 300px;
  height: 175px;
  background: #eeeeee;
  border-radius: 10px;
}

.DateTimeCont h1, h2 {
  margin: 3px;
}

.DateTimeCont {
  display: grid;
  align-content: center;
}