.news {
  position: absolute;
  bottom: 5px;
  left: 5px;
  /* height: 400px; */
  width: 100vw;
  /* display: flex; */
  overflow: hidden;
}

.newsCard {
  display: inline-block;
  padding: 0 2rem;
  height: 100px;
  width: auto;
}

.newsCardText {
  width: 100%;
  margin: 5px;
  overflow: hidden;
}

.newsCardText h1 {
  font-size: 12pt;
  overflow-wrap: normal;
}

.newsCardImage {
  width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 5px;
}

.newsCardImage img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.tcontainer {
  width: 100%;
  overflow: hidden;
}
.ticker-wrap {
  width: 100%;
  /* height: 100px; */
  padding-left: 100%;
  background-color: #eee;
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation: ticker 100s linear infinite;
}
.ticker-move:hover {
  animation-play-state: paused;
}

.App {
  /* text-align: center; */
  display: grid;
  justify-content: center;
}

.block {
  width: 300px;
  height: 175px;
  background: #eeeeee;
  border-radius: 10px;
}

.DateTimeCont h1,
h2 {
  margin: 3px;
}

.DateTimeCont {
  display: grid;
  align-content: center;
}

.usefulLinksContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 65%;
  text-align: center;
}

.usefulLinksContainerInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.usefulLink {
  width: 100px;
  height: 150px;
  flex-basis: 24%;
  padding: 0;
}

.usefulLink p {
  margin: 0;
}

.usefulLink img {
  width: 100px;
  height: auto;
}

.chuckNorris img {
  animation: chuck 3s infinite;
}

@keyframes chuck {
  0% {
    transform: rotateZ(30deg);
  }
  25% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  75% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
.titleIndex {
  font-family: Helvetica, sans-serif;
  font-size: 38px;
}
